<div class="site-wrapper-inner">
    <div class="cover-container">
        <div class="inner cover">
            <h3 class="cover-heading">Search for clinical trials</h1>
            <p class="lead">
                <query></query>
            </p>
        </div>
        <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </div>
    </div>
</div>

