<div class="site-wrapper-inner">
    <div class="cover-container">
        <div class="inner cover">
            <h4 class="cover-heading">{ OncoBlocks GSoC 2015 Project }</h4>
            <h3 class="cover-heading">Extraction of Clinical Trials Biomarkers</h3>
    
            <p class="lead">
                The project aims to help curators search <i><a target="_blank" href="http://clinicaltrials.gov">clinicaltrials.gov</a></i> for trials matching different biomarkers, especially cancer genes and their mutations.
            </p>
        </div>
    </div>
</div>

